

<div class="about-section">
    <h1>About Us</h1>
    <p>We Teach how to calm your soul with the rhytm of the Music!</p>
</div>
<div class="column">
    <div class="card">
        <img src="~/images/music2.jfif" width="600px" height="300px">
        <div class="container">
            <h2>Music Hall</h2>
            <p class="title">Home for music</p>
            <p class="title">Phone: +90 (312) 555 55 55 </p>
            <p class="title">Address: Ankara Teknoloji Geliştirme Bölgesi, G Blok, Üniversiteler Mahallesi Beytepe Lodumlu Köy Yolu Caddesi No:91, 06800 Bilkent Çankaya / ANKARA​​ 
 </p>



            <h2 style="text-align:center">Our Team</h2>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="~/images/basgan.jpg" width="400px" height="300px" />    
                        <div class="container">
                            <h2>Server Kanberlioglu</h2>
                            <p class="title">CEO & Founder</p>
                            <p>Best Electro Guitarist Ever.</p>
                            <p>kanber@kanber.com</p>
                            <p><button class="button">Contact</button></p>
                        </div>

                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="~/images/ogz.jpg" width="400px" height="300px" />
                        <div class="container">
                            <h2>Oguz Kaya</h2>
                            <p class="title">Hard Worker</p>
                            <p>Work Hard, Go Hard, Sleep Hard!!!</p>
                            <p>leo@leo.com</p>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="~/images/shelty.jfif" width="400px" height="300px" />
                        <div class="container">
                            <h2>Shelty Leon</h2>
                            <p class="title">Shelty Representer</p>
                            <p>Shows how adorable the dogs are.</p>
                            <p>leo@leo.com</p>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>